@import "../../styles/Globals.less";

#dashboard-page {
  #dashboard-page-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px @widthPadding;
  }

  #dashboard-overview-graph {
    width: 100%;
  }
}