@import "../../styles/Globals.less";

#overview-graph {
  #overview-graph-container {
    /* padding: 30px @widthPadding; */
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* gap: 40px; */
    border-radius: @borderRound;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  }
}