@import "../../styles/Globals.less";

#earnings-and-expenses-page {
  #earnings-and-expenses-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(740px, 1fr));
    align-items: start;
  }

  & > * {
    min-width: 0;
  }
}